.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
    width: 600px;
    height: 300px;
}

h2 {
    margin-bottom: 50px;
}

input[type="number"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.unit {
    margin-left: 5px;
    /* 単位の間隔 */
    font-size: 0.9em;
    /* フォントサイズを小さく */
}

.target_weight__error-messag {
    color: red;
}

.button-group {
    margin-top: 20px;
    display: flex; /* フレックスボックスを使用してボタンを横並びに */
    justify-content: center; /* 中央揃え */
}

.back-button,
.update-button {
    padding: 10px 20px; /* パディングを設定 */
    border: none; /* ボーダーをなしに */
    margin: 10px; /* マージンを設定 */
    border-radius: 4px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに */
    width: 150px; /* 幅を指定 */
    font-size: 16px; /* フォントサイズを指定 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.back-button {
    background-color: #ccc;
    color: black;
}

.update-button {
    background: linear-gradient(to right, #a3a6e1, #f7acda);
    color: white;
}
