body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ec86ee;
    font-family: 'Noto Serif JP', serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.unit {
    margin-left: 5px;
    /* 単位の間隔 */
    font-size: 0.9em;
    /* フォントサイズを小さく */
}

.button-group {
    margin-top: 20px;
}

.back-button,
.update-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-button {
    background-color: #ccc;
    margin-right: 10px;
}

.update-button {
    background: linear-gradient(to right, #a3a6e1, #f7acda);
    color: white;
}

.header-buttons {
    display: flex;
}

.settings-button,
.logout-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #d5006d;
}