.form-container {
    height: 600px;
}

label {
    display: block;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0dfde;
    border-radius: 5px;
}

.login__error-message {
    display: block;
    text-align: left;
    margin-left: 40px;
    color: red;
    margin-top: 5px;
}
